@import './lists/users/userList.css';
@import './lists/posts/postsList.css';
@import "./css/DeleteModal.css";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import "tailwindcss";

.content{
    font-family: "Rubik", sans-serif;
    margin-top: 20px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}