@import './lists/userList.css';
@import './lists/postsList.css';
@import url('https://fonts.googleapis.com/css2?family=Grammond:wght@400;700&display=swap');

.content{
    font-family: "Grammond", serif;
    margin-top: 20px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}